server:
  port: 8090

spring:
  datasource:
    username: 'postgres'
    password: '12345'
    driver-class-name: org.postgresql.Driver
    url: 'jdbc:postgresql://localhost:5432/socialMediaAuth'
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true