server:
  port: 8091

spring:
  zipkin:
    enabled: true
    base-url: http://localhost:9411
    service:
      name: user-service
  datasource:
    username: 'postgres'
    password: '12345'
    driver-class-name: org.postgresql.Driver
    url: 'jdbc:postgresql://localhost:5432/socialMediaUser'
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

redis:
  host: localhost
  port: 6379

myapplication:
  auth:
    feign-auth: http://localhost:8090/api/v1